<section>
  <h1>User Profile</h1>
  
  <div>
    <p>
      <span>
        <%= @user.first_name %>
      </span>
      <span>
        <%= @user.last_name %>
      </span>
    </p>
    <p>
      <span>
        <%= @user.username %>
      </span>
    </p>
  </div>
</section>
