<div class="form-group">
  <%= form_for (@my_post) do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <%= f.text_area :content, class: 'form-control', placeholder: "what's on your mind" %>
        </div>
        <div class="col-md-3">
          <%= f.submit 'Share', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>