<div class="form-group">
  <%= form_for (Post.new) do |f| %>
    <div>
      <%= f.text_area :content, class: 'form-control', placeholder: "what's on your mind" %>
    </div>
    <div>
      <%= f.submit 'Post', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>