<main class="container">
  <div class="row">
    <section class="col-md-3">
      <h4>Application</h4>
      
    </section>

    <section class="col-md-6">
      <h4>Contents and Posts</h4>
      <%= render 'shared/post' %>
      <article>
        <%= render 'shared/feed' %>
      </article>
    </section>

    <section class="col-md-3">
      <h4 class="hidden">Advertisement</h4>
      
    </section>
  </div>
</main>
