<% provide(:button_title, 'Share') %>
<section class="container">
  <div class="row">
    <section class="col-md-3">
      <h6>Applications</h6>
      
    </section>

    <section class="col-md-6">
      <h6>Contents and Posts</h6>
      <%= render 'shared/post_form' %>
      <article>
        <%= render 'shared/feed' %>
      </article>
    </section>

    <section class="col-md-3">
      <h6>People you may know</h6>
      
    </section>
  </div>
</section>
