<% provide(:button_title, 'Share') %>
<section class="container">
  <div class="row">
    <section class="col-md-3">
      <h5>Applications</h5>
      
    </section>

    <section class="col-md-6">
      <h5>Contents and Posts</h5>
      <%= render 'shared/post_form' %>
      <article>
        <%= render 'shared/feed' %>
      </article>
    </section>

    <section class="col-md-3">
      <h5>People you may know</h5>
      
    </section>
  </div>
</section>
