@import "bootstrap-sprockets";
@import "bootstrap";
/* header */

header {
  background-color: #3b5998 !important;
}

.logo {
  float: left;
  margin-right: 10px;
  font-size: 30px;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #d2dad8;
    text-decoration: none;
  }
}

.nav-link {
  color: white;
  text-decoration: none;
  &:hover {
    color: #d2dad8;
  }
}

.main {
  margin-top: 80px;
  min-height: 100vh;
}

footer {
  background-color: #f9f9f9;
  height: 40px;
  .container {
    .row {
      div {
        a {
          color: #6f6f6f;
          &:hover {
            color: #000000;
            text-decoration: none;
          }
        }
      }
    }
  }
}
