
/* header */

header {
  background-color: #3b5998 !important;
}

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #d2dad8;
    text-decoration: none;
  }
}

.nav-link {
  color: white;
  text-decoration: none;
  &:hover {
    color: #d2dad8;
  }
}

.main {
  margin-top: 60px;
  min-height: 100vh;
}
