<footer>
  <section class="container">
    <div class="row">
      <div class="mx-3"><%= link_to 'Privacy Policy', privacy_path %></div>
      <div class="mx-3"><%= link_to 'Terms of service', terms_path %></div>
      <div class="mx-3"><%= link_to 'Contact us', contact_path %></div>
    </div>
  </section>
</footer>
